/* .hero-image {
      
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("onepunchman.jpg");
  
    height: 50%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }*/
  
  /* .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }  */

  .hero-image {
    width: 100%;
    height: auto;
    background-image: url("onepunchman.jpg");
    background-size: contain;
    background-repeat: no-repeat;
   }
  
   .hero-image .hero-text {
    display: block;
    visibility: hidden;
    height: auto;
    width: 100%;
   }

  .navbar { 
    display: flex;
    background-color: darkgreen;
    width: 100%;
    height: 70px;
    align-items: center;
}

.navbar label {
    color: white;
    font: 40px sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar img {
    width: 150px;
    height: auto;
    margin: 10px 0px;
}

.navbar button {
    margin-left: auto;
    margin-right: 20px;

}

#myVideo{
    width: 100%;
    height: auto;
}

#contenedor{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
}



#video{
    grid-row: 2/3;
}

#productos{
    grid-row:1/2;
}

#productos>div{
    width: fit-content;
    border:solid;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255,0,0,0.3);

}

#productos p{  
    transition: .6s ease;
    margin:auto;
    align-self: center;
    opacity: 0;
    position: absolute;
    background-color: azure;
    padding:5px 10px;
    font-weight: bold;
    border:solid 1px ;
    box-shadow: 4px 0px 10px aliceblue,-4px 0px 10px aliceblue,0px 4px 10px aliceblue,0px -4px 10px aliceblue;

} 

#productos div:hover p{
    opacity: 1;
    z-index: 2;
}

#productos div:hover img{
    filter:blur(5px)
    opacity(0.80)
} 

#testimonios{
    grid-row: 3/4;
}

#formulario{
    grid-row: 4/5;
    
}

input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* @media screen and (min-width: 556px) and (max-width: 768px){

} */

/* @media screen and (min-width: 768px){
    .navbar { 
        display: flex;
        background-color: darkgreen;
        width: 100%;
        height: 70px;
        align-items: center;
    }
    
    .navbar label {
        color: white;
        font: 40px sans-serif;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .navbar img {
        width: 150px;
        height: auto;
        margin: 10px 0px;
    }
    
    .navbar button {
        margin-left: auto;
        margin-right: 20px;
    
    }

    body, html {
        height: 100%;
    }
    
    

    #contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }

    input[type=text], input[type=email], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
    }
      
    input[type=date]{
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
    }
     
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
      
      
    input[type=submit]:hover {
        background-color: #45a049;
    }
      
    #formulario{
        grid-row: 2/3;
    }
    
    #video{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    #productos{
        display:flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-bottom: 300px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    #imagenes { 
        object-fit: cover;
    
    }
    
    #productos h2{
        position: absolute;
        z-index: 2;
    }
}  */